#App
  width: 100%
  min-width: var(--min-width-app)
  height: 100%
  overflow: hidden
  > .inner
    height: 100%
    width: calc((max(100vw, var(--min-width-app)) - var(--width-condition)) * 2)
    display: flex
    transition: transform var(--transition-wipe)
    overflow: hidden
    background-color: var(--color-lamp-black)
    body[data-display="results"] &
      // transform: translateX(calc(100vw * -1 + var(--width-condition)))
      // transform: translateX(calc(100vw * -.5 + var(--width-condition)))
  > .loading-view
    position: fixed
    top: var(--height-header)
    height: calc(100% - var(--height-header))
    z-index: var(--z-app-loading-view)

@media (max-width: var(--min-width-app))
  #App
    > .inner
      body[data-display="results"] &
        transform: translateX(calc(var(--min-width-app) * -1 + var(--width-condition)))
