#GlobalToolBar
  width: var(--width-global-tool-bar)
  flex-basis: var(--width-global-tool-bar)
  // background-color: var(--color-lamp-black)
  padding-top: var(--height-properties-header)
  > ul
    list-style: none
    padding: 0
    > li
      > button
        padding: 0
        width: 100%
        border: none
        background-color: transparent
        display: block
        transition: background var(--transition-instant)
        > span
          color: white
          font-size: 2.4rem
          line-height: 1.5
          transition: color var(--transition-instant)
      + li
        margin-top: .5rem
  > .switch
    background-color: #0002
    margin: 0 .4rem
    padding: .2rem
    border-radius: .4rem
    box-shadow: 0 .2rem .4rem black inset
    > li
      body[data-condition="filter"] & > button[data-button="filter"],
      body[data-condition="annotation"] & > button[data-button="annotation"]
        cursor: auto
        background-color: white
        border-radius: .2rem
        box-shadow: 0 .1rem .2rem black
        > span
          color: var(--color-lamp-black)
  [data-display="results"] &
    pointer-events: none
    > ul, > .switch
      opacity: .4
