#Header
  padding: 0 1.6rem
  height: var(--height-header)
  line-height: calc(var(--height-header))
  display: flex
  background-color: white
  z-index: var(--z-header)
  position: fixed
  width: 100%
  border-bottom: solid .1rem var(--color-lamp-black)
  a
    color: var(--color-lamp-black)
    &:hover
      text-decoration: none
  > h1
    font-size: 1.6rem
  > nav
    flex-grow: 1
    text-align: right
    > ul
      > li
        padding-left: 1rem
        display: inline-block
