#MainArea
  --width-offset: calc(var(--width-condition) + var(--width-global-tool-bar))

  // width: calc(100vw - var(--width-offset))
  width: 100vw
  padding-right: var(--width-offset)
  position: relative
  display: flex
  flex-direction: column
  height: 100%

  --height-results-header: 2.8rem
  --height-results-thead-row: 2.4rem
  --height-results-tbody-row: 2.2rem
  --height-results: calc(var(--height-results-header) + var(--height-results-thead-row) + (var(--height-results-tbody-row) + 1px) * 5)
  body[data-number-of-results="0"] &
    --height-results: var(--height-results-header)
  body[data-number-of-results="1"] &
    --height-results: calc(var(--height-results-header) + var(--height-results-thead-row) + var(--height-results-tbody-row) + 1px)
  body[data-number-of-results="2"] &
    --height-results: calc(var(--height-results-header) + var(--height-results-thead-row) + (var(--height-results-tbody-row) + 1px) * 2)
  body[data-number-of-results="3"] &
    --height-results: calc(var(--height-results-header) + var(--height-results-thead-row) + (var(--height-results-tbody-row) + 1px) * 3)
  body[data-number-of-results="4"] &
    --height-results: calc(var(--height-results-header) + var(--height-results-thead-row) + (var(--height-results-tbody-row) + 1px) * 4)
  body[data-display="results"] &
    --height-results: 100%
  body:not([data-editing-category=""]) &
    --height-results: 0%

  > #Properties, > #ResultsTable
    transition: height var(--transition-wipe)
  > #Properties
    height: calc(100% - var(--height-results))
  > #ResultsTable
    height: var(--height-results)

@media (max-width: var(--min-width-app))
  #MainArea
    width: calc(var(--min-width-app) - var(--width-offset))
