#ResultsView
  bottom: 0
  // width: 100%
  z-index: var(--z-results)
  background-color: var(--color-lamp-black)
  > header
    --padding: calc(var(--height-results-header) - 1lh)
    color: white
    font-size: 1.4rem
    font-weight: bold
    padding: calc(var(--padding) * 0.7) 0 calc(var(--padding) * 0.3)
    position: relative
    > .collapsenotchbutton
      position: absolute
      top: -.5rem
      width: 3.2rem
      height: 3.2rem
      left: calc(50% - 1.6rem)
      border-radius: 1.6rem
      background-color: var(--color-lamp-black)
      cursor: pointer
      [data-number-of-results="0"] &
        pointer-events: none
      &::before
        content: ""
        width: .8rem
        height: .8rem
        border-top: solid .2rem white
        border-right: solid .2rem white
        display: block
        position: absolute
        translate: 1.2rem .8rem
        rotate: -0.125turn
        transition: rotate var(--transition-wipe)
        [data-display="results"] &
          rotate: .375turn
        [data-number-of-results="0"] &
          opacity: .3
  > .inner
    // background-color: white
    overflow: auto
    > table
      height: auto
      > thead
        > tr
          &.statistics
            color: white
            > th
              vertical-align: top
            > td
              > .inner
                height: auto
                transition: height var(--transition-wipe), padding var(--transition-wipe)
            > th, > td
              > .inner
                [data-display="properties"] &
                  // display: none
                  height: 0
                  padding: 0
