.stacking-condition-view
  padding: 0 .4rem .4rem
  border-left-width: .4rem
  border-left-style: solid
  position: relative
  background-color: white
  clip-path: polygon(.3rem 0, 100% 0, 100% 100%, 0 100%, 0 .3rem)
  box-shadow: var(--shadow-shallow)
  animation: var(--transition-instant) enter-stacking-item
  transform-origin: 0 0
  margin-top: .4rem
  > .close-button-view
    position: absolute
    top: .4rem
    right: .4rem
  > .attribute
    margin: 0
    padding: .6rem 1.4rem 0 0
    font-size: 1rem
    font-weight: bold
    line-height: 1

  // > .path
  //   margin: 0
  //   padding: .6rem 1.4rem 0 0
  //   list-style: none
  //   font-size: 1rem
  //   font-weight: bold
  //   line-height: 1
  //   // color: var(--color-gray)
  //   > li
  //     display: inline-block
  //     + li
  //       &::before
  //         content: ""
  //         display: inline-block
  //         border-left: solid .1rem var(--color-gray)
  //         height: 1.4rem
  //         transform: rotate(20deg)
  //         margin: -.6rem .4rem 0 .4rem
  > .label
    line-height: 1
    font-size: 1.4rem
    font-weight: bold
  > .labels
    margin: .2rem 0 0
    padding: 0 0 .1rem
    list-style: none
    > .label
      margin-right: .1rem
      margin-bottom: .1rem
      padding: 0 1.4rem 0 .4rem
      // border: solid .1rem var(--color-gray)
      display: inline-block
      position: relative
      white-space: nowrap
      > .close-button-view
        position: absolute
        top: .1rem
        right: .1rem
  &._category-background-color
    > .path
      color: rgba(0, 0, 0, .5)
      > li
        + li
          &::before
            border-left-color: rgba(0, 0, 0, .5)
    > .label
      color: white
