.statistics-view
  --padding-block-start: 1rem
  --padding-block-end: 2rem
  --margin-block-end-title: .5rem
  --height-tick: 3rem
  --height-gap: .5rem
  --height-statistics: calc(var(--height-results-statistics) - var(--padding-block-start) - var(--padding-block-end) - var(--margin-block-end-title) - var(--height-tick))
  --height-bar: calc((var(--height-statistics) - var(--height-gap)) * 1)

  padding: var(--padding-block-start) 1.5rem var(--padding-block-end)
  > .statistics
    text-align: left
    height: var(--height-statistics)
    margin-bottom: var(--height-tick)
    white-space: nowrap
    > *
      > .bar
        margin: 0 .2rem
        display: inline-block
        vertical-align: bottom
        position: relative
        width: 1.2rem
        > .label
          position: absolute
          font-size: 1rem
          bottom: 0
          left: .9rem
          transform-origin: 0% 0%
          transform: rotate(30deg)
        > .value
          color: white
          position: absolute
          top: 0
          left: 0
          font-size: 1rem
          writing-mode: vertical-rl
          height: var(--height-statistics)
          width: 1.2rem
          line-height: 1.2rem
          padding: 2px 0
          pointer-events: none
          text-align: left
          &.-below
            color: var(--color-gray)
            text-align: right
            top: calc(0rem - var(--height-statistics))
    > .counts
      height: var(--height-bar)
    // > .rates
    //   margin-top: var(--height-gap)
    //   height: var(--height-bar)
    > .ticks
      height: 0
