.togo-key-view
  --font-size: 1.2rem

  height: var(--height-togo-key-view)
  line-height: calc(var(--height-togo-key-view) / var(--font-size))
  font-size: var(--font-size)
  font-weight: normal
  color: white
  background-color: var(--color-translucent-lamp-black2)
  display: inline-block
  padding: 0 .5em
  border-radius: .2rem
