<h2>Ensembl gene summary</h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-gene-summary-ensembl?ensg={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;: &quot;desc&quot;, &quot;label&quot;: &quot;Gene Name&quot;}, {&quot;id&quot;: &quot;gene_symbol&quot;, &quot;label&quot;: &quot;HGNC Symbol&quot;}, {&quot;id&quot;: &quot;type_label&quot;, &quot;label&quot;: &quot;Gene Type&quot;}, {&quot;id&quot;: &quot;ensg_id&quot;, &quot;label&quot;: &quot;Ensembl Gene ID&quot;},  {&quot;id&quot;: &quot;ncbigene&quot;, &quot;label&quot;: &quot;NCBI Gene ID&quot;, &quot;link&quot;: &quot;ncbigene&quot;}]"
  format-key="true"
></togostanza-hash-table>

<h2>GTEx expression (ver. 8)</h2>

<togostanza-barchart
  chart-type="stacked"
  data-url="https://integbio.jp/togosite/sparqlist/api/gtex_log_tpm?queryIds&#x3D;{{id}}"
  data-type="json"
  category="desc"
  value="logTPM"
  group-by="tissueCategory"
  category-title="Tissue"
  value-title="Expression value (log(TPM+1))"
  legend-title="Tissue"
  width="800"
  height="300"
  padding="50"
  padding-inner="0.3"
  padding-outer="0.4"
  xaxis-placement="bottom"
  yaxis-placement="left"
  xgrid="false"
  ygrid="true"
  xtick="false"
  ytick="true"
  xlabel-angle="90"
  ylabel-angle="0"
  xlabel-padding="50"
  ylabel-padding="5"
  xtitle-padding="10"
  ytitle-padding="10"
  bar-width="0.8"
  legend="true"
  metastanza-menu-placement="top-right"
></togostanza-barchart>

<h2>Ensembl transcript summary </h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-transcript-summary-ensembl={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;:&quot;id&quot;, &quot;label&quot;:&quot;Ensembl ID&quot;}, {&quot;id&quot;:&quot;label&quot;, &quot;label&quot;:&quot;Name&quot;}, {&quot;id&quot;:&quot;type&quot;}, {&quot;id&quot;:&quot;taxonomy&quot;, &quot;label&quot;:&quot;Taxonomy ID&quot;}, {&quot;id&quot;:&quot;location&quot;}, {&quot;id&quot;:&quot;exon_count&quot;}, {&quot;id&quot;:&quot;protein_count&quot;}]"
  format-key="true"
></togostanza-hash-table>


<h2>NCBI Gene summary</h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-gene-summary-ncbigene?ncbigene={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;:&quot;id&quot;,&quot;label&quot;:&quot;NCBI Gene ID&quot;},{&quot;id&quot;:&quot;hgnc_symbol&quot;,&quot;label&quot;:&quot;HGNC symbol&quot;},{&quot;id&quot;:&quot;synonyms&quot;},{&quot;id&quot;:&quot;description&quot;},{&quot;id&quot;:&quot;other_descriptions&quot;},{&quot;id&quot;:&quot;refex_tissue_labels&quot;,&quot;label&quot;:&quot;RefEx tissues&quot;},{&quot;id&quot;:&quot;gtex_v6_tissue_labels&quot;,&quot;label&quot;:&quot;GTEx tissues&quot;},{&quot;id&quot;:&quot;homologene_branch_label&quot;,&quot;label&quot;:&quot;Evoulutionary conservation&quot;},{&quot;id&quot;:&quot;type_of_gene&quot;},{&quot;id&quot;:&quot;human_paralog_count&quot;,&quot;label&quot;:&quot;#paralogs&quot;},{&quot;id&quot;:&quot;humman_paralog_ncbigene_ids&quot;,&quot;label&quot;:&quot;NCBI Gene IDs of paralogs&quot;},{&quot;id&quot;:&quot;chromosome&quot;},{&quot;id&quot;:&quot;map_location&quot;,&quot;label&quot;:&quot;location&quot;}]"
  format-key="true"
  ></togostanza-hash-table>
