<script type="module" src="https://togostanza.github.io/metastanza/hash-table.js" async></script>
<h2>MeSH Descriptor {{id}}</h2>
<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/mesh_descriptor?queryId={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;: &quot;id&quot;, &quot;label&quot;: &quot;MeSH UID&quot;},
            {&quot;id&quot;: &quot;label&quot;}, {&quot;id&quot;: &quot;scope_note&quot;},
            {&quot;id&quot;: &quot;tree_numbers&quot;}]"
  format-key="true"
></togostanza-hash-table>
