<style>
  togostanza-barchart {
    --series-1-color: #ff3d3d;
  }
</style>

<h2>{{id}} summary</h2>


<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-protein-summary-uniprot?uniprot={{id}}"
  data-type="json"
  columns="[{&quot;id&quot;: &quot;id&quot;, &quot;label&quot;: &quot;UniProt ID&quot;, &quot;link&quot;: &quot;entry&quot;}, {&quot;id&quot;: &quot;mnemonic&quot;, &quot;label&quot;: &quot;Mnemonic&quot;},{&quot;id&quot;: &quot;full_name&quot;, &quot;label&quot;: &quot;Protein name&quot;}, {&quot;id&quot;: &quot;length&quot;}, {&quot;id&quot;: &quot;mass&quot;, &quot;label&quot;: &quot;Mass (Da)&quot;}, {&quot;id&quot;: &quot;citation_number&quot;, &quot;label&quot;: &quot;Citations&quot;}, {&quot;id&quot;: &quot;biological_process&quot;, &quot;label&quot;: &quot;Biological process&quot;}, {&quot;id&quot;: &quot;molecular_function&quot;, &quot;label&quot;: &quot;Molecular function&quot;}, {&quot;id&quot;: &quot;cellular_component&quot;, &quot;label&quot;: &quot;Cellular component&quot;}, {&quot;id&quot;: &quot;isolated_tissue&quot;, &quot;label&quot;: &quot;Isolated tissue&quot;}]"
  format-key="true"
  width="840"
  height="410"
  padding="50"
  ></togostanza-hash-table>

<h2>Protein mass</h2>

<togostanza-barchart
	chart-type="stacked"
	data-url="https://integbio.jp/togosite/sparqlist/api/set_category_group?sparqlet=https://integbio.jp/togosite/sparqlist/api/uniprot_mass&queryId={{id}}"
	data-type="json"
	category="label"
	value="count"
	group-by="group"
	category-title="Mass"
	value-title=""
	legend-title=""
	width="800"
	height="300"
	padding="50"
	padding-inner="0.1"
	padding-outer="0.4"
	xaxis-placement="bottom"
	yaxis-placement="left"
	xgrid="false"
	ygrid="true"
	xtick="false"
	ytick="true"
	xlabel-angle="90"
	ylabel-angle="0"
	xlabel-padding="32"
	ylabel-padding="5"
	xtitle-padding="10"
	ytitle-padding="10"
	bar-width="0.8"
	legend="true"
	metastanza-menu-placement="top-right"
	></togostanza-barchart>
