<h1>Protein</h1>
<h2>Selected Key UniProt: {{id}}</h2>
<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-protein-summary-uniprot?uniprot={{id}}"
  data-type="json"
  columns="[{&quot;id&quot;: &quot;id&quot;, &quot;label&quot;: &quot;UniProt ID&quot;, &quot;link&quot;: &quot;entry&quot;}, {&quot;id&quot;: &quot;mnemonic&quot;, &quot;label&quot;: &quot;Mnemonic&quot;},{&quot;id&quot;: &quot;full_name&quot;, &quot;label&quot;: &quot;Protein name&quot;}, {&quot;id&quot;: &quot;length&quot;}, {&quot;id&quot;: &quot;mass&quot;, &quot;label&quot;: &quot;Mass (Da)&quot;}, {&quot;id&quot;: &quot;citation_number&quot;, &quot;label&quot;: &quot;Citations&quot;}, {&quot;id&quot;: &quot;biological_process&quot;, &quot;label&quot;: &quot;Biological process&quot;, &quot;escape&quot;: false}, {&quot;id&quot;: &quot;molecular_function&quot;, &quot;label&quot;: &quot;Molecular function&quot;, &quot;escape&quot;: false}, {&quot;id&quot;: &quot;cellular_component&quot;, &quot;label&quot;: &quot;Cellular component&quot;, &quot;escape&quot;: false}, {&quot;id&quot;: &quot;isolated_tissue&quot;, &quot;label&quot;: &quot;Isolated tissue&quot;, &quot;escape&quot;: false}]"
  format-key="true"
  width="840"
  height="410"
  padding="50"
  custom-css-url="/css/stanza.css"
  ></togostanza-hash-table>
