<style>
  togostanza-barchart {
    --series-1-color: #ff3d3d;
  }
</style>

<h2>{{id}} summary</h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-gene-summary-pdb?id={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[ {&quot;id&quot;: &quot;pdb_id&quot;, &quot;label&quot;:&quot;Dataset ID&quot;},  {&quot;id&quot;: &quot;title&quot;},  {&quot;id&quot;: &quot;methods&quot;},  {&quot;id&quot;: &quot;polypeptide_number&quot;},  {&quot;id&quot;: &quot;pH_str&quot;},  {&quot;id&quot;: &quot;keywords&quot;},  {&quot;id&quot;: &quot;text&quot;, &quot;label&quot;:&quot;description&quot;},  {&quot;id&quot;: &quot;spieces&quot;, &quot;label&quot;: &quot;Spieces&quot; }, {&quot;id&quot;: &quot;host&quot;, &quot;label&quot;: &quot;Host(expression system)&quot;},  {&quot;id&quot;: &quot;uniprot&quot;, &quot;label&quot;: &quot;Uniprot Link&quot;, &quot;rowspan&quot;: true} ]"
  format-key="true"
></togostanza-hash-table>
