<h1>Variation</h1>
<h2>TogoVar: {{id}}</h2>
<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/variant_details?tgv_id={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns=""
  format-key="true"
  custom-css-url="/css/stanza.css"
></togostanza-hash-table>
