.column-selector-view
  height: 100%
  position: relative
  border-top: solid .1rem var(--color-gray)
  > .columns
    white-space: nowrap
    overflow-x: hidden
    height: 100%
    > .inner
      height: 100%
      overflow-x: auto
      > .column
        display: inline-table
        margin: 0 .1rem 0 0
        padding: 0
        list-style: none
        max-height: 29.5rem
        height: 100%
        overflow-y: auto
        vertical-align: top
        > thead, > tbody
          > tr
            > th, > td
              padding: .2rem .4rem
              vertical-align: middle
              > input
                vertical-align: middle
        > thead
          color: white
          > .header
            background-color: var(--color-lamp-black)
          > .item
            background-color: var(--color-dark-gray)
        > tbody
          > tr
            > .label
              display: relative
              > .pin
                padding-left: 1rem
                // display: none
                > .material-icons
                  font-size: 1.2rem
                  vertical-align: middle
                  position: relative
                  top: -.1rem
                > .value
                  > small
                    font-size: 1rem
                    font-weight: lighter
            > .count, > .amount, > .pvalue
              text-align: right
            &.-haschild
              > .drilldown
                position: relative
                cursor: pointer
                &::before, &::after
                  content: ""
                  position: absolute
                  display: block
                &::before
                  width: 1rem
                  height: 1rem
                  top: .4rem
                  right: .1rem
                  border-radius: 100%
                &::after
                  border-style: solid
                  border-width: .3rem 0 .3rem .4rem
                  border-color: transparent transparent transparent var(--color-lamp-black)
                  top: .6rem
                  right: .3rem
                &:hover, &.-selected
                  &::before
                    background-color: var(--color-lamp-black)
                  &::after
                    border-color: transparent transparent transparent white


        > .item
          margin: 0
          padding: .2rem 1.2rem .2rem .4rem
          position: relative
          width: 100%
          line-height: 1
          cursor: pointer
          transition: background var(--transition-instant)
          display: flex
          &.-all
            background-color: var(--color-warm-gray)
            border-bottom: solid .1rem var(--color-gray)
            display: none
            [data-condition="values"] &
              display: inherit
              > input
                display: inherit
          &.-haschild
            // &::before, &::after
            //   content: ""
            //   position: absolute
            //   display: block
            // &::before
            //   width: 1rem
            //   height: 1rem
            //   top: .4rem
            //   right: .1rem
            //   border-radius: 100%
            // &::after
            //   border-style: solid
            //   border-width: .3rem 0 .3rem .4rem
            //   border-color: transparent transparent transparent var(--color-lamp-black)
            //   top: .6rem
            //   right: .3rem
            // &:hover, &.-selected
            //   &::before
            //     background-color: var(--color-lamp-black)
            //   &::after
            //     border-color: transparent transparent transparent white
          > label, > .count
            padding-top: .1rem
            padding-bottom: .1rem
          > input
            margin-inline-end: .4rem
            vertical-align: bottom
            [data-condition="values"] &
              display: none
          > .label
            padding-right: .4rem
          > .count
            font-weight: lighter
            padding-left: 1.2rem
            flex-grow: 1
            text-align: right
          // > .pin
          //   padding-left: 1rem
          //   display: none
          //   > .material-icons
          //     font-size: 1.2rem
          //     vertical-align: middle
          //     position: relative
          //     top: -.1rem
          //   > .value
          //     > small
          //       font-size: 1rem
          //       font-weight: lighter
          body.-showuserids &
            opacity: .25
            &.-pinsticking
              opacity: 1
              > .pin
                display: inline
  > .loading-view
    background-color: rgba(#CCC, .5)

