.track-view
  border-bottom: solid .1rem var(--color-separator)
  font-size: 1.2rem
  position: relative
  transition: opacity var(--transition-wipe)
  &.-preparing
    pointer-events: none
    opacity: .2
  > .row
    display: flex
    height: var(--height-track)
    > .left
      flex-basis: var(--width-track-column-property)
      min-width: var(--width-track-column-property)
    > .right
      flex-basis: calc(100% - var(--width-track-column-property))
      max-width: calc(100% - var(--width-track-column-property))
    &.-upper
      > .left
        padding-left: 1.6rem
        position: relative
        padding-top: 0
        display: flex
        align-items: center
        line-height: 1
        overflow: hidden
        > .collapsebutton
          z-index: var(--z-track-collapse-button)
          &::before
            left: -1.1rem
          > .title
            width: calc(var(--width-track-column-property) - 1.6rem)
            font-size: 1.4rem
            font-weight: bold
      > .right
        > .overview
          height: var(--height-track)
          background-color: #EEE
          list-style: none
          white-space: nowrap
          font-size: 0
          position: relative
          > .inner
            margin: 0
            padding: 0
            > .value
              color: white
              overflow: hidden
              line-height: calc(var(--height-track) - var(--padding-track-block-start) * 2)
              position: absolute
              transition: width var(--transition-wipe), left var(--transition-wipe)
              cursor: pointer
              &::after
                content: ""
                display: block
                position: absolute
                top: 0
                right: 0
                height: 100%
                border-left: solid .01rem rgba(255, 255, 255, .2)
              > .color, > .heatmap
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
              > .heatmap
                background-color: var(--color-lamp-black)
                opacity: 0
                transition: background-color var(--transition-wipe), opacity var(--transition-wipe)
                body[data-heatmap="true"] &
                  opacity: 1
              > p
                padding-left: .2rem
                padding-right: .2rem
                padding-top: var(--padding-track-block-start)
                margin: 0
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
                position: relative
                text-align: center
                > .label
                  font-size: 1.2rem
                > .count
                  padding-left: .8rem
                  font-size: 1rem
                  font-weight: lighter
              &:hover, &.-selected
                > .color, > .heatmap
                  opacity: 0 !important
                  transition: opacity var(--transition-instant)
                &::before
                  content: ""
                  display: block
                  position: absolute
                  width: 100%
                  height: 100%
                  border: solid 1px white
                  z-index: var(--z-track-item-selected)
          > .error
            padding-left: .4rem
            color: var(--color-lamp-black)
            background-color: rgba(lightgrey, .8)
            font-size: 1rem
            line-height: 3rem
    &.-lower
      > .left
        > .description
          margin-bottom: .6rem
          padding-left: 1.6rem
          padding-right: .8rem
          line-height: 1.2
        > label
          padding-left: 1.6rem
          font-weight: bold
          > input
            vertical-align: middle
            margin-inline-end: .4rem
      
    > .selector
      height: 100%
  &.-allselected
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      border: solid .1rem black
      box-shadow: 0 0 0 .1rem rgba(white, .5) inset
      