extends _include/_layout.pug

block var
  - page = "top"

block script
  script(type="module" src="js/main.js")

block main

  main#App
    .inner

      nav#GlobalToolBar
        ul.switch
          li
            button(data-button="filter" title="Add filters")
              span.material-icons filter_alt
          li
            button(data-button="annotation" title="Map attributes")
              span.material-icons format_list_bulleted
        
      section#MainArea
        section#Properties
          .inner
            header.header.collapse-view
              .title
                h2.properties.collapsebutton Attribute keys
                h2.attributes Attribute values
              nav
                ul
                  li.viewmodecontroller
                    label.log10
                      input(type="checkbox" value="log10")
                      | Log scale
                    label.area
                      input(type="checkbox" value="area" checked)
                      | Area
                    label.heatmap
                      input(type="checkbox" value="heatmap" checked)
                      | Heatmap
                //-
                  li
                    .switch-view
                      .item Area
                      .item.-current Heatmap
            section.concepts
            //-
              section.concept-view
                h3.title
                  span Gene
                .properties
                  .attribute-track-view.collapse-view(data-concept="gene" data-collapse="gene")
                    .collapsebutton(data-collapse="gene")
                    header.title Type
                    .items
                      ul.overview
                        li.item
                          p Digestive
                        li.item
                          p Endocrine
                        li.item
                          p Nerve
                        li.item
                          p Urinary
                        li.item
                          p Circulatory
                        li.item
                          p Respiratory
                        li.item
                          p Genital
                        li.item
                          p Integumentary
                        li.item
                          p Locomotorium
                        li.item
                          p Others
                      .selector.collapsing(data-collapse="gene")
                        .column-selector-view
                          ul.column
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Digestive
                                span.count 11,673
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Endocrine
                                span.count 12,800
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Nerve
                                span.count 14,579
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Urinary
                                span.count 8,329
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Circulatory
                                span.count 8,283
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Respiratory
                                span.count 2,704
                            li.item.-selecting
                              label
                                input(type="checkbox" name="depth1" checked)
                                span.label Genital
                                span.count 5,861
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Integumentary
                                span.count 20,784
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Locomotorium
                                span.count 1,105
                            li.item
                              label
                                input(type="checkbox" name="depth1")
                                span.label Others
                                span.count 10,154
                          ul.column
                            li.item
                              label
                                input(type="checkbox" name="depth2")
                                span.label Testis
                                span.count 18,718
                            li.item
                              label
                                input(type="checkbox" name="depth2")
                                span.label Prostate
                                span.count 2,066
        section#ResultsView
          header
            span
              | Found 
              span.count 0 entries
              | .
            .collapsenotchbutton
          .inner
            table
              colgroup
              thead
                tr.statistics
                  th.controller
                    .inner
                      label
                        input(type="radio" name="statistics_mode" value="hits_all" checked)
                        span Hits/All
                      label
                        input(type="radio" name="statistics_mode" value="hits_all_percentage")
                        span Hits/All (%)
                      label
                        input(type="radio" name="statistics_mode" value="hits_only")
                        span Hits only
                tr.header
                //- tr.subheader
              tbody
            .tableend
              .loading-view

      section#Results
        .inner
          //- section#ResultsStatistics.collapse-view.-spread(data-collapse="results statistics" data-views-count="0")
          //-   header
          //-     .collapsebutton.-white.-spread(data-collapse="results statistics")
          //-     h2.title Statistics
          //-   .body.collapsingcontent.-spread(data-collapse="results statistics")
          //-     .statisticscontainer

    section#FixedArea

      .upper

        section#ConditionBuilder

          header(data-hidden-by="results")
            h2.title Condition builder
            button.rounded-button-view.-verysmall.-outline(type="button") Clear
          .switch-button-view
            button.-active(data-button="filter" title="Add filters" value="filter")
              span.material-icons filter_alt
              | Filter
            button(data-button="annotation" title="Map attributes" value="annotation")
              span.material-icons format_list_bulleted
              | Annotation
            
          .conditions(data-hidden-by="results")
            .condition(data-condition-type="dataset")
              .inner
                h2.title
                  span.material-icons layers
                  | Select target dataset
                select(disabled)
                  //- option(val="gene") Gene
            .condition(data-condition-type="filters")
              .inner
                h2.title
                  span.material-icons filter_alt
                  | Filters
                .conditions.-empty
                //-
                  .stacking-condition-view.-attribute
                    .closebutton
                    ul.path
                      li Expression
                      li Position
                      li.end Genital
                    .label Testis
            #UploadUserIDsView.condition(data-condition-type="ids")
              .inner
                h2.title
                  span.material-icons location_on
                  | Mapped IDs
                  small optional
                  .button
                    button.rounded-button-view.-verysmall.-black
                      span.material-icons subdirectory_arrow_right
                      | Try
                textarea(type="text" placeholder="Enter IDs")
                .buttons
                  button.rounded-button-view.-verysmall.-outline(type="button") Submit
                  button.rounded-button-view.-verysmall.-outline(type="button") Reset

            .condition(data-condition-type="annotations")
              .inner
                h2.title
                  span.material-icons format_list_bulleted
                  | Mapped attributes
                .conditions.-empty
                //-
                  .stacking-condition-view
                    .closebutton
                    ul.path
                      li.end Expression
                    .label Testis
              
          footer
            button.exec.rounded-button-view.-black.-spread(data-hidden-by="results" disabled)
              span.material-icons table_view
              | View results
            button.return.rounded-button-view.-black.-spread(data-hidden-by="properties")
              span.material-icons keyboard_return
              | Return

      .lower
        
        section#Conditions(data-number-of-conditions="0")
          header
            h2.title Saved conditions
          .conditions

    .loading-view.-shown