<h2> {{id}} Summary </h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/togosite-transcript-summary-ensembl={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;:&quot;id&quot;, &quot;label&quot;:&quot;Ensembl ID&quot;}, {&quot;id&quot;:&quot;label&quot;, &quot;label&quot;:&quot;Name&quot;}, {&quot;id&quot;:&quot;type&quot;}, {&quot;id&quot;:&quot;taxonomy&quot;, &quot;label&quot;:&quot;Taxonomy ID&quot;}, {&quot;id&quot;:&quot;location&quot;}, {&quot;id&quot;:&quot;exon_count&quot;}, {&quot;id&quot;:&quot;protein_count&quot;}]"
  format-key="true"
></togostanza-hash-table>
