<h2>{{id}} summary</h2>

<togostanza-hash-table
  data-url="https://integbio.jp/togosite/sparqlist/api/pubchem_details?pubchem_compound={{id}}"
  data-type="json"
  width="800"
  height="400"
  padding="0"
  columns="[{&quot;id&quot;:&quot;pubchem_compound_id&quot;, &quot;label&quot;:&quot;Pubchem ID&quot;}, {&quot;id&quot;:&quot;compound_label&quot;, &quot;label&quot;:&quot;Name&quot;}, {&quot;id&quot;:&quot;molecular_formula&quot;}, {&quot;id&quot;:&quot;molecular_weight&quot;}, {&quot;id&quot;:&quot;smiles&quot;}, {&quot;id&quot;:&quot;inchi&quot;}, {&quot;id&quot;:&quot;image&quot;}]"
  format-key="true"
></togostanza-hash-table>
